@import '../src/index.scss';

.App {
    width: 1000px;
    height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .tansactions {
        width: 1200px;

        border: 2px solid rgba(34, 34, 34, 1);
        border-radius: 20px;
        background-color: rgba(17, 17, 17, 1);
        box-shadow: 0 0.5rem 1.2rem rgba(82, 85, 92, .15);

        padding: 15px;

        p {
            margin: 0;

            color: $p_color;
        } 

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #header {
            margin-bottom: 10px;

            font-size: 1.2rem;
            font-family: 'Roboto';
            font-weight: 400;
        }

        #tx-header {
            width: 100%;
            padding-right: 15px;
            thead {
                tr {
                    #type {
                        width: $type_width;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                    #hash {
                        a {
                            text-decoration: none;
                        }

                        width: $hash_width;
                        height: 20px;
                    
                        text-align: center;

                        color: $p_color;
                    }
                    #time {
                        width: $time;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                    #from {
                        width: $from;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                    #to {
                        width: $to;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                    #value {
                        width: $value;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                    #total-fees {
                        width: $total-fees;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                }
            }
        }

        .container {
            min-height: 80px;
            max-height: 120px;
            overflow: auto;
            
            table {
                width: 100%;

                min-height: 80px;
                max-height: 150px;

                border-spacing: 0;

                overflow: auto;

                thead {
                    tr {
                        #type {
                            width: $type_width;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                        #hash {
                            a {
                                text-decoration: none;
                            }

                            width: $hash_width;
                            height: 20px;
                        
                            text-align: center;

                            color: $p_color;
                        }
                        #time {
                            width: $time;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                        #from {
                            width: $from;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                        #to {
                            width: $to;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                        #value {
                            width: $value;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                        #total-fees {
                            width: $total-fees;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                    }
                }
                tbody {
                    tr {
                        width: $row_height;
                        height: 30px;

                        #type {
                            width: $type_width;
                            height: 20px;
                            
                            p {
                                text-align: center;
                                color: $p_color;
                            }
                        }
                        #hash {
                            width: $hash_width;
                            height: 20px;

                            p {                                
                                text-align: center;
                                color: $a_color;

                                max-width: $hash_width;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            a:hover {
                                opacity: 0.8;
                            }
                        }
                        #time {
                            width: $time;
                            height: 20px;

                            p {
                                text-align: center;
                                color: $p_color;
                            }
                        }
                        #from {
                            width: $from;
                            height: 20px;

                            p {
                                text-align: center;
                                color: $a_color;

                                max-width: $from;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            a:hover {
                                opacity: 0.8;
                            }
                        }
                        #to {
                            width: $to;
                            height: 20px;

                            p {
                                text-align: center;
                                color: $a_color;

                                max-width: $to;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            a:hover {
                                opacity: 0.8;
                            }
                        }
                        #value {
                            width: $value;
                            height: 20px;

                            p {
                                text-align: center;
                                color: $p_color;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        #total-fees {
                            width: $total-fees;
                            height: 20px;

                            p {
                                text-align: center;
                                color: $p_color;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
}