.App {
    .query-input {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .balances {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .current {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .specific {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .sb-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}