@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

$p_color: rgb(245, 245, 245);
$a_color: rgb(106, 181, 219);

$type_width: 80px;
$hash_width: 160px;
$time: 140px;
$from: 150px;
$to: 150px;
$value: 200px;
$total-fees: 120px;

$balances_width: 150px;
$balances_height: 100px;
$balance_height: 50px;

$row_height: 40px;

.App {
    width: 1000px;
    height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .query-input {
        height: 150px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 2px solid rgba(34, 34, 34, 1);
        border-radius: 20px;
        background-color: rgba(17, 17, 17, 1);
        box-shadow: 0 0.5rem 1.2rem rgba(82, 85, 92, .15);

        padding: 15px;

        #header {
            margin: 0;
            margin-bottom: 20px;

            color: $p_color;

            font-size: 1.7rem;
            font-family: 'Roboto';
            font-weight: 500;
        }

        .inputs {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            width: 450px;

            #address-input {
                width: 200px;
                height: 30px;

                border-radius: 10px;

                text-align: center;
                
                padding-left: 10px;
                padding-right: 10px;
    
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            #address-input:focus {
                outline: none;
            }
    
            #block-input {
                width: 100px;
                height: 30px;

                border-radius: 10px;

                text-align: center;

                padding-left: 10px;
                padding-right: 10px;
    
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            #block-input:focus {
                outline: none;
            }

            #query-btn {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 32px;
                height: 32px;
                
                padding: 0;

                border-radius: 20px;

                img {
                width: 25spx;
                height: 20px;

                padding: 0;

                border-radius: 20px;
                }
            }

            #query-btn:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }

        #notice {
            margin: 0;
            margin-top: 20px;

            text-align: center;

            color: $p_color;

            font-size: 0.8rem;
            font-family: 'Roboto';
            font-weight: 300;
        }
        
    }
    .balances {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        border: 2px solid rgba(34, 34, 34, 1);
        border-radius: 20px;
        background-color: rgba(17, 17, 17, 1);
        box-shadow: 0 0.5rem 1.2rem rgba(82, 85, 92, .15);

        width: 400px;
        height: 120px;

        padding: 15px;

        #header {
            width: 100%;

            margin: 0;
            text-align: left;

            color: $p_color;

            font-size: 1.2rem;
            font-family: 'Roboto';
            font-weight: 400;
        }

        .container {
            width: 80%;

            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .current {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: $balances_width;
                height: $balances_height;

                #cb-title {
                    margin: 0;
                    color: $p_color;
                }

                #cb-balance {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: $balance_height;
                    
                    margin: 0;

                    color: $p_color;
                }
            }
            .specific {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: $balances_width;
                height: $balances_height;

                .sb-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    color: $p_color;
                    #sb-title {
                        margin: 0;
                    }       
                }

                #sb-date {
                    margin-top: 10px;

                    border: none;
                    border-radius: 20px;   
                }

                #sb-date:hover {
                    cursor: pointer;
                }

                #sb-date:focus {
                    outline: none;
                }

                #sb-balance {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: $balance_height;

                    margin: 0;

                    color: $p_color;
                }   
            }
        }
    }
    .tansactions {
        width: 1200px;

        border: 2px solid rgba(34, 34, 34, 1);
        border-radius: 20px;
        background-color: rgba(17, 17, 17, 1);
        box-shadow: 0 0.5rem 1.2rem rgba(82, 85, 92, .15);

        padding: 15px;

        p {
            margin: 0;

            color: $p_color;
        } 

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #header {
            margin-bottom: 10px;

            font-size: 1.2rem;
            font-family: 'Roboto';
            font-weight: 400;
        }

        #tx-header {
            width: 100%;
            padding-right: 15px;
            thead {
                tr {
                    #type {
                        width: $type_width;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                    #hash {
                        a {
                            text-decoration: none;
                        }

                        width: $hash_width;
                        height: 20px;
                    
                        text-align: center;

                        color: $p_color;
                    }
                    #time {
                        width: $time;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                    #from {
                        width: $from;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                    #to {
                        width: $to;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                    #value {
                        width: $value;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                    #total-fees {
                        width: $total-fees;
                        height: 20px;

                        text-align: center;

                        color: $p_color;
                    }
                }
            }
        }

        .container {
            min-height: 80px;
            max-height: 120px;
            overflow: auto;
            
            table {
                width: 100%;

                min-height: 80px;
                max-height: 150px;

                border-spacing: 0;

                overflow: auto;

                thead {
                    tr {
                        #type {
                            width: $type_width;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                        #hash {
                            a {
                                text-decoration: none;
                            }

                            width: $hash_width;
                            height: 20px;
                        
                            text-align: center;

                            color: $p_color;
                        }
                        #time {
                            width: $time;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                        #from {
                            width: $from;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                        #to {
                            width: $to;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                        #value {
                            width: $value;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                        #total-fees {
                            width: $total-fees;
                            height: 20px;

                            text-align: center;

                            color: $p_color;
                        }
                    }
                }
                tbody {
                    tr {
                        width: $row_height;
                        height: 30px;

                        #type {
                            width: $type_width;
                            height: 20px;
                            
                            p {
                                text-align: center;
                                color: $p_color;
                            }
                        }
                        #hash {
                            width: $hash_width;
                            height: 20px;

                            p {                                
                                text-align: center;
                                color: $a_color;

                                max-width: $hash_width;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            a:hover {
                                opacity: 0.8;
                            }
                        }
                        #time {
                            width: $time;
                            height: 20px;

                            p {
                                text-align: center;
                                color: $p_color;
                            }
                        }
                        #from {
                            width: $from;
                            height: 20px;

                            p {
                                text-align: center;
                                color: $a_color;

                                max-width: $from;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            a:hover {
                                opacity: 0.8;
                            }
                        }
                        #to {
                            width: $to;
                            height: 20px;

                            p {
                                text-align: center;
                                color: $a_color;

                                max-width: $to;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            a:hover {
                                opacity: 0.8;
                            }
                        }
                        #value {
                            width: $value;
                            height: 20px;

                            p {
                                text-align: center;
                                color: $p_color;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        #total-fees {
                            width: $total-fees;
                            height: 20px;

                            p {
                                text-align: center;
                                color: $p_color;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
}